@page
@model Phasmophobia_Wiki.Pages.GhostDetails

@{
    ViewData["Title"] = "Ghost Details";
}

<!DOCTYPE html>

<html>
<head>
    <title>Ghost Details</title>
</head>
<body>
<div>
    
</div>
</body>
</html>