@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #121212;
}

.evidenceSelectionText {
  width: 15rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.evidenceSelectionCheckbox {
  width: 2rem;
  text-align: right;
  margin-left: auto;
  margin-right: auto;
}

table {
  border-collapse: collapse;
  border: #ffffff;
  margin: 0px 1px 5px 1px;
}

td {
  height: 55px;
  padding: 0.5rem;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  color: #ffffff;
  text-align: center;
}

th {
  font-size: 1.2rem;
  padding: 0.5rem;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}

tbody tr:nth-child(odd) {
  background-color: #353535;
}

tbody tr:nth-child(even) {
  background-color: #4f5050;
}

td:first-child {
  border-left: none;
}

td:last-child {
  border-right: none;
}